* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: url(pics/bjg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}


div {
  /* background-image: url(./pics/bjg.jpg); */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: 0px;
  margin-bottom: 5rem;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

nav {
  text-align: right;
  margin-bottom: 5rem;
  padding: 1px;
  /* display: flex; */
  /* align-items: flex-end; */
  background-color: rgb(2, 77, 140, 90%);
  height: 12%;
  width: 100%;
  box-shadow: 1px 1px 5px black;
  position: fixed;
  top: 0;
}


.title {
  font-size: 32px;
  float: left;
  color: #F3F7FA;
  font-family: 'Noto Serif Oriya', serif;;
  padding-top: 45px;
  display: flex;
  pointer-events: none;
}

.logo {
  margin: 10px;
  margin-left: 2em;
  float: left;
  padding: 0px;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  height: 75;
  pointer-events: none;
}

/* fancy mouse hover for links */
a {
  float: right;
  color: #F3F7FA;
  font-family: 'Noto Serif Oriya', serif;;
  padding-right: 2em;  
  margin-top: 2em;
  --b: 0.1em;   /* the thickness of the line */
  --c: #FFD802; /* the color */
  
  color: rgba(161, 8, 8, 0);
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,rgb(255, 255, 255) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .1s var(--_s,0s) linear,background-size .2s calc(.3s - var(--_s,0s));
}
a:hover {
  --_p: 80%;
  --_s: .2s;
}

/* h1 {
  color: #F3F7FA;
} */

.homepage {
  margin: auto;
  margin-top: 10rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 100px;
  background-color: rgb(2, 77, 140, 50%);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
}

.homepage:hover {
  background-color: rgb(2, 77, 140, 50%);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
}

.about {
  overflow: hidden;
  min-width: auto;
  align-content: center;
  width: 75%;
  height: 5rem;
  margin: auto;
  margin-top: 2rem;
  padding: 25px;
  background: linear-gradient(.25turn, rgb(2, 77, 140, 90%), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  /* border-radius: 15px; */
  color: #F3F7FA;
  text-shadow: 1px .5px black;
  text-align: left;
  filter: blur(.5px);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 34px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out; 
  
}

.about:hover {
  overflow: hidden;
  background: rgb(2, 77, 140, 90%);
	color: #F3F7FA;
  box-shadow: inset 5px 0 0 0 #FFD802;
  /* -webkit-transform: scale(1.02);
	transform: scale(1.02); */
  transition: all ease .7s;
  border-radius: 0px;
  filter: none;
  font-size: 0;
  min-width: auto;
  align-content: center;
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  padding: 25px;
  font-weight: 250;
  text-align: center;
}

.about:hover::before {
  overflow: hidden;
  content: attr(data-hover);
  font-size: 22px;
  line-height: 2.5rem;
  transition: all ease 5s;
  min-width: auto;
  align-content: center;
  width: 25%;
  margin: auto;
  padding:50px;
  font-weight: 100;
}


.phonenum {
  float: left;
  margin-top: 2rem;
  padding: 10px;
  height: auto;
  filter: blur(.5px);
  /* border-radius: 15px; */
  width: 14rem;
  background: linear-gradient(.25turn, rgb(2, 77, 140, 95%), rgba(255, 255, 255, 0));
  border: 5px #F3F7FA;
  transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
  position: relative;
}
.phonenum:hover {
  background: linear-gradient(.25turn, rgb(2, 77, 140, 90%), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  box-shadow: inset 5px 0 0 0 #FFD802;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  filter: none;
  position: relative;
  width: 100%;
}

.number {
  margin: auto;
  width: 75%;
  color: #F3F7FA;
  border: 5px #F3F7FA;
  text-shadow: 1px .5px black;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  line-height: 3em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  font-size: 14px;
  position: sticky;
  bottom: 0;
}

footer {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: #F3F7FA;
  font-size: 10px;
  background-color: rgb(2, 77, 140, 90%);
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
}

.contactTitle {
  font-family: 'Noto Serif Oriya', serif;;
  text-align: center;
}

.message {
  /* background-color: rgb(2, 77, 140, 75%); */
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
  position: fixed;
}

form {
  background-color: rgb(2, 77, 140, 75%);
  /* background-image: url(pics/rock.jpg); */
  color: #F3F7FA;
  width: 50%;
  height: auto;
  font-family: 'Noto Serif Oriya', serif;;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  transition: .3s ease-in;
  
}

form:hover {
  background-color: rgb(2, 77, 140, 95%);
  box-shadow: inset 0 0 0 3px #FFD802;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  filter: none;
}

input {
  font-family: 'Roboto', sans-serif;;
  font-size: 16px;
  background-color: #F3F7FA;
  border: none;
  height: 30px;
  display: block;
  padding-left: 4px;
  margin-top: 2rem;
  width: 100%;
  opacity: 100%;
}

input:focus {
  outline-color: #FFD802;
  outline-style: solid;
}

textarea {
  font-family: 'Roboto', sans-serif;;
  font-size: 20px;
  display: inline-block;
  margin-top: 2px;
  height: 5rem;
  width: 100%;
}
textarea:focus {
  outline-color: #FFD802;
  outline-style: solid;
}

.emailButton {
  background-color: rgb(243, 247, 250, 75%);
  font-family: 'Roboto', sans-serif;
  border: none;
  margin: auto;
  margin-top: 1rem;
  width: auto;
  padding: .5rem;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.emailButton:hover {
  background-color: #FFD802;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.emailButton:active {
  color: #F3F7FA;
}