* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(pics/bjg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
  background-color: maroon;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 50px;
  padding: 30px 25px;
}

h1 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

